.lds-hourglass {
    position: relative;
    display: inline-block;
    width: 500px;
    height: 500px;
    background-image: url("https://purepng.com/public/uploads/large/purepng.com-darth-vaderdarth-vaderanakin-skywalkerstar-wars-franchiseskywalker-1701527754654imyyv.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #fff;
    border-color: crimson transparent #daa520 transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

#pokeball {
    width: 100px;
    height: 100px;
}